%div{class: ['ui',content.widened_class,'wide','column'] }
  = image_tag content.configuration["image_url"], class: "ui fluid rounded image"
  = render partial: 'bricks/settings', locals: { content: content } if current_page?(:controller => 'features', :action => 'edit')