%div{class: ['ui',content.widened_class,'wide','column','segment'] }
  .ui.text
    .p 
      = markdown(content.configuration["body"])
  = render partial: 'bricks/settings', locals: { content: content }