.eight.wide.column
  .ui.card
    .content
      .header
        = feature.title
    .content
      %h4.ui.sub.header Activity
      .ui.small.feed
        .event
          .content
            .summary
              %a Elliot Fu
              added
              %a Jenny Hess
              to the project
        .event
          .content
            .summary
              %a Stevie Feliciano
              was added as an
              %a Administrator
        .event
          .content
            .summary
              %a Helen Troy
              added two pictures
    .extra.content
      %button.ui.button Join Project